.back{
  height: auto;
  background-color: whitesmoke;
}

.MuiAccordionSummary-root.Mui-expanded {
    min-height: 30px;
}

.MuiAccordionSummary-root {

  padding: 0px 16px;
    min-height: 48px;
    height: 40px;
}
