.ui.vertical.segment:last-child {
  background-color: #4051b5;
}

.ui.inverted.header {
  font-size: -webkit-xxx-large;
}

.ui.huge.button {
  font-size: xx-large;
}

.homepage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4051b5;
}
